<style>
    small {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    h2 {
        text-align: center;
        margin: 0;
    }
</style>

<small>בס"ד</small>
<h2><%= title %></h2>
